<!DOCTYPE html>
<html>
  <head>
    <title>Homegig</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="content-container">
      <%= yield %>
    </div>
    <%= render 'layouts/navigation/footer' %>
  </body>
</html>
