<div class="wrapper">

  <%= render '/profiles/sidebar' %>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg border-bottom" id="account-heading">
          <div class="container-fluid">
            <h2 class="text-white">Account Summary</h2>  
          </div>
      </nav>

      <div class="row justify-content-center mt-5 ml-5 ml-5 mr-5" id="form">
        <div class="col-lg-5 mt-4 mb-2">
          <%= bootstrap_form_for(current_user, :as => current_user, url: update_user_profile_path, html: { method: :put }) do |f| %>
            
            <% flash.each do |name, message| %>
              <% if name != "success" %>
                <div class="alert alert-<%= name %>">
                  <% if Array === message %>
                    <ul style="list-style: none;">
                    <% message.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  <% else %>
                    <%= message %>
                  <% end %>
                </div>
              <% else %>
                <div class="success success-<%= name %>">
                  <% if Array === message %>
                    <ul style="list-style: none;">
                    <% message.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  <% else %>
                    <%= message %>
                  <% end %>
                </div>
              <%end %>
            <% end %>
            
            <%= f.text_field :name, 
                placeholder: current_user.name, 
                class: 'form-control',
                required:true %>
            <%= f.email_field :email,
                placeholder: current_user.email, 
                class: 'form-control',
                required:true %>
            <% if current_user.about.size != 0 %>
                <%= f.text_area :about,
                placeholder: current_user.about, 
                class: 'form-control',
                required:true %>
            <% else %>
                <%= f.text_area :about,
                placeholder: "Add something about yourself", 
                class: 'form-control' %>
            <% end %>
            <%= image_tag(current_user.profile_picture.url, alt: '..', size:'80x80', :class => "mb-3 rounded-circle img-thumbnail shawdow-sm profile-image") if current_user.profile_picture? %>
            <%= f.file_field :profile_picture,
              placeholder: current_user.profile_picture.to_s.split('/')[-1], 
              class: 'form-control' %>
            <%= f.submit 'Update', 
                class: 'form-control sign-up-button mb-3' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
