<div class="wrapper">

  <%= render '/profiles/sidebar' %>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="account-heading">
          <div class="container-fluid">
            <h2>Account Summary</h2>  
          </div>
      </nav>

      <div class="row justify-content-center mt-5 ml-5 ml-5 mr-5 bg-white shadow" id="form">
        <div class="col-lg-7 mt-4 mb-2">
          <%= bootstrap_form_for(current_user, :as => current_user, :url => profile_management_path(current_user)) do |f| %>
            <%= f.text_field :name, 
                placeholder: current_user.name, 
                class: 'form-control' %>
            <%= f.text_field :email,
                placeholder: current_user.email, 
                class: 'form-control' %>
            <%= image_tag(current_user.profile_picture.url, alt: '..', size:'80x80', :class => "mb-3 rounded-circle img-thumbnail shawdow-sm profile-image") if current_user.profile_picture? %>
            <%= f.file_field :profile_picture,
              class: 'form-control' %>
            <%= f.submit 'Update', 
                class: 'form-control sign-up-button mb-3' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
