<div id="home-width">
  <div class="content-width mb-4">
    <div class="slideshow overflow-hidden">
    <div class="row pt-5 pb-3 justify-content-center">
      <div class="col-lg-8">
        <%= form_tag(search_gigs_path, :method => "get") do %>  
          <div class="input-group">  
            <%= search_field_tag :name, params[:name], placeholder: "Search any gig", class: "form-control" %>  
            <div class="input-group-append">
              <button class="btn btn-success search" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div> 
          </div>  
        <% end %>
      </div>
    </div>
      <!-- Slideshow Items -->
      <div class="slideshow-items">
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="https://www.holeandcorner.com/site/wp-content/uploads/2018/05/Florian-4.jpg" />
          </div>
          <!-- Staggered Header Elements -->
          <div class="ml-5 item-header">
              <div class="item-header-1">
                  <span class="vertical-part"><b>O</b></span>
                  <span class="vertical-part"><b>f</b></span>
                  <span class="vertical-part"><b>f</b></span>
                  <span class="vertical-part"><b>e</b></span>
                  <span class="vertical-part"><b>r</b></span>
              </div>
              <div class="item-header-2 pl-5 ml-5">
                  <span class="vertical-part"><b>G</b></span>
                  <span class="vertical-part"><b>i</b></span>
                  <span class="vertical-part"><b>g</b></span>
                  <span class="vertical-part"><b>s</b></span>
              </div>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="https://ec.europa.eu/environment/europeangreencapital/wp-content/uploads/2018/05/Jos-Sluijsmans-3-e1526385391142.jpg" />
          </div>
          <!-- Staggered Header Elements -->
          <div class="ml-5 item-header">
              <div class="item-header-1">
                  <span class="vertical-part"><b>S</b></span>
                  <span class="vertical-part"><b>e</b></span>
                  <span class="vertical-part"><b>e</b></span>
                  <span class="vertical-part"><b>k</b></span>
              </div>
              <div class="item-header-2 pl-5 ml-5">
                  <span class="vertical-part"><b>W</b></span>
                  <span class="vertical-part"><b>o</b></span>
                  <span class="vertical-part"><b>r</b></span>
                  <span class="vertical-part"><b>k</b></span>
              </div>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="https://desiredleather.org/wp-content/uploads/2018/09/IMG_1170-e1569697265167.jpg" />
          </div>
          <!-- Staggered Header Elements -->
          <div class="ml-5 item-header">
                  <div class="item-header-1">
                  <span class="vertical-part"><b>G</b></span>
                  <span class="vertical-part"><b>e</b></span>
                  <span class="vertical-part"><b>t</b></span>
              </div>
              <div class="item-header-2 pl-5 ml-5">
                  <span class="vertical-part"><b>P</b></span>
                  <span class="vertical-part"><b>a</b></span>
                  <span class="vertical-part"><b>i</b></span>
                  <span class="vertical-part"><b>d</b></span>
              </div>
          </div>
          <!-- Staggered Description Elements -->
          <div class="item-description">
              <div class="container">
                  <div class="row" id="row-home">
                      <% if not user_signed_in? %>
                        <div class="col-xl-10 mx-auto">
                            <h2 class="mb-4 font-weight-bold" align="center">Get Started with HomeGig</h2>
                        </div>
                        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" align="center">   
                            <%= link_to "Register", signup_path(), class: "btn btn-success" %>    
                        </div>
                      <% else %>
                        <div class="col-xl-10 mx-auto">
                          <h1 class="mb-4 font-weight-bold" align="center">Create A Gig Today</h1>
                        </div>
                        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" align="center">   
                          <%= link_to "Offer your services", newOfferingGig_path, class: "btn btn-success mb-3" %><br>
                          <%= link_to "Seek out a service", newSeekingGig_path, class: "btn btn-success" %>
                        </div>
                      <%end%>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="controls">
        <ul>
          <li class="control" data-index="0"></li>
          <li class="control" data-index="1"></li>
          <li class="control" data-index="2"></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<script>
    const items = document.querySelectorAll('.item'),
    controls = document.querySelectorAll('.control'),
    headerItems = document.querySelectorAll('.item-header'),
    descriptionItems = document.querySelectorAll('.item-description'),
    activeDelay = .76,
    interval = 5000;

    let current = 0;

    const slider = {
    init: () => {
        controls.forEach(control => control.addEventListener('click', (e) => { slider.clickedControl(e) }));
        controls[current].classList.add('active');
        items[current].classList.add('active');
    },
    nextSlide: () => { // Increment current slide and add active class
        slider.reset();
        if (current === items.length - 1) current = -1; // Check if current slide is last in array
        current++;
        controls[current].classList.add('active');
        items[current].classList.add('active');
        slider.transitionDelay(headerItems);
        slider.transitionDelay(descriptionItems);
    },
    clickedControl: (e) => { // Add active class to clicked control and corresponding slide
        slider.reset();
        clearInterval(intervalF);

        const control = e.target,
        dataIndex = Number(control.dataset.index);

        control.classList.add('active');
        items.forEach((item, index) => { 
        if (index === dataIndex) { // Add active class to corresponding slide
            item.classList.add('active');
        }
        })
        current = dataIndex; // Update current slide
        slider.transitionDelay(headerItems);
        slider.transitionDelay(descriptionItems);
        intervalF = setInterval(slider.nextSlide, interval); // Fire that bad boi back up
    },
    reset: () => { // Remove active classes
        items.forEach(item => item.classList.remove('active'));
        controls.forEach(control => control.classList.remove('active'));
    },
    transitionDelay: (items) => { // Set incrementing css transition-delay for .item-header & .item-description, .vertical-part, b elements
        let seconds;
        
        items.forEach(item => {
        const children = item.childNodes; // .vertical-part(s)
        let count = 1,
            delay;
        
        item.classList.value === 'item-header' ? seconds = .015 : seconds = .007;

        children.forEach(child => { // iterate through .vertical-part(s) and style b element
            if (child.classList) {
            item.parentNode.classList.contains('active') ? delay = count * seconds + activeDelay : delay = count * seconds;
            child.firstElementChild.style.transitionDelay = `${delay}s`; // b element
            count++;
            }
        })
        })
    },
    }

    let intervalF = setInterval(slider.nextSlide, interval);
    slider.init();
</script>