<div class="wrapper">
      
    <%= render '/profiles/sidebar' %>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg border-bottom" id="account-heading">
        <div class="container-fluid">
          <h2 class="text-white">Your Gigs</h2>  
        </div>
      </nav>

      <% if flash[:edit_success] %>
        <div class="success"><%= flash[:edit_success] %></div>
      <% elsif flash[:delete_success] %>
        <div class="success"><%= flash[:delete_success] %></div>
      <% end %>

      <% if @posts.size == 0 and @sposts.size == 0%>
            
          <div class="container-fluid">
              <p>You have no Gigs</p>  
          </div>

      <% else %>

        <div class="row justify-content-center mt-5 ml-5 ml-5 mr-5" id="form">
          <div class="col-lg-6 mt-4 mb-2">
            <h2 align="center">Offerings</h2>
            <ul class="list-group list-group-flush" id="lg-form">
              <% @posts.each do |post| %>
                <li class="list-group-item">
                  <img class="manage_image" src="<%= post.gig_image %>"><br><br>
                  <a href="<%= offering_path(post) %>"><strong><%= post.title %></strong></a>
                  <p><%= post.content %></p>
                  <%= link_to "Edit", edit_offering_path(post), method: :get, class: "btn btn-success" %>
                  <%= link_to "Delete", delete_offering_path(post), method: :delete, 
                      class: "btn btn-success", data: { confirm: "Are you sure you want to delete this gig?" } %> 
                </li>
              <% end %>
            </ul>
          </div>
          <div class="col-lg-6 mt-4 mb-2">
            <h2 align="center">Seekings</h2>
            <ul class="list-group list-group-flush" id="lg-form">
              <% @sposts.each do |spost| %>
                <li class="list-group-item">
                  <img class="manage_image" src="<%= spost.seek_gig_image %>"><br><br>
                  <a href="<%= seeking_path(spost) %>"><strong><%= spost.title %></strong></a>
                  <p><%= spost.content %></p>
                  <%= link_to "Edit", edit_seeking_path(spost), method: :get, class: "btn btn-success" %> 
                  <%= link_to "Delete", delete_seeking_path(spost), method: :delete, 
                      class: "btn btn-success", data: { confirm: "Are you sure you want to delete this gig?" } %> 
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
</div>

<script>
  // Delete confirmation modals
  $('#delete-confirm').on('show', function() {
    var $submit = $(this).find('.btn-danger'),
        href = $submit.attr('href');
    $submit.attr('href', href.replace('pony', $(this).data('id')));
  });

  $('.delete-confirm').click(function(e) {
    e.preventDefault();
    $('#delete-confirm').data('id', $(this).data('id')).modal('show');
  });
</script>