<div class="wrapper">
      
    <%= render '/profiles/sidebar' %>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg border-bottom" id="account-heading">
        <div class="container-fluid">
          <h2 class="text-white">Your Gigs</h2>  
        </div>
      </nav>

      <% if flash[:edit_success] %>
        <div class="notice"><%= flash[:edit_success] %></div>
      <% end %>

      <% if @gigs.size == 0 %>
            
          <div class="container-fluid">
              <p>You have no Gigs</p>  
          </div>

      <% else %>

        <div class="row justify-content-center mt-5 ml-5 ml-5 mr-5" id="form">
          <div class="col-lg-7 mt-4 mb-2">
            <ul class="list-group list-group-flush" id="lg-form">
              <% @gigs.each do |gig| %>
                <li class="list-group-item">
                  <a href="<%= offering_path(gig) %>"><strong><%= gig.title %></strong></a>
                  <p><%= gig.content %></p>
                  <%= link_to "Edit", edit_offering_path(gig), method: :get, class: "btn btn-success" %> 
                </li>
              <%end%>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
</div>