<div class="wrapper">
      
    <%= render '/profiles/sidebar' %>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg border-bottom" id="account-heading">
        <div class="container-fluid">
          <h2 class="text-white">Your Gigs</h2>  
        </div>
      </nav>

      <% if flash[:edit_success] %>
        <div class="notice"><%= flash[:edit_success] %></div>
      <% end %>

      <% if @posts.size == 0 and @sposts.size == 0%>
            
          <div class="container-fluid">
              <p>You have no Gigs</p>  
          </div>

      <% else %>

        <div class="row justify-content-center mt-5 ml-5 ml-5 mr-5" id="form">
          <div class="col-lg-6 mt-4 mb-2">
            <h2 align="center">Offerings</h2>
            <ul class="list-group list-group-flush" id="lg-form">
              <% @posts.each do |post| %>
                <li class="list-group-item">
                  <a href="<%= offering_path(post) %>"><strong><%= post.title %></strong></a>
                  <p><%= post.content %></p>
                  <%= link_to "Edit", edit_offering_path(post), method: :get, class: "btn btn-success" %> 
                </li>
              <%end%>
            </ul>
          </div>
          <div class="col-lg-6 mt-4 mb-2">
            <h2 align="center">Seekings</h2>
            <ul class="list-group list-group-flush" id="lg-form">
              <% @sposts.each do |sposts| %>
                <li class="list-group-item">
                  <a href="<%= seeking_path(sposts) %>"><strong><%= sposts.title %></strong></a>
                  <p><%= sposts.content %></p>
                  <%= link_to "Edit", edit_seeking_path(sposts), method: :get, class: "btn btn-success" %> 
                </li>
              <%end%>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
</div>