 <div class="container">

    <div class="row">
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
          <div class="card-body">
            <h3 class="card-title"><%= @post.title %></h3>
            <h4>$<%= @post.price %></h4>
            <p class="card-text"><%= @post.content %></p>
            <div class="card-body pl-0">
              <%= link_to "I'm interested on this gig", notify_offering_interest_path(@post), method: :post, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            About <%= @post.user.name %>
          </div>
          <div class="card-body">
            <%= @post.user.about %>
          </div>

          <div class="container-fluid">
            <div class="card-header">
              Other Gigs by <%= @post.user.name %>
            </div>
            <div class="row flex-nowrap overflow-auto">
              <% @posts.each do |gig| %>
                <div class="col-3">
                  <div class="card card-block"><%= link_to gig.title, offering_path(gig) %></div>
                </div>
              <% end %>
            </div>
          </div>
        
        
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Reviews
          </div>
          <div class="card-body">
            <% @reviews.each do |review| %>
                <p><%= review.content %></p>
                <small class="text-muted">Posted by <%= review.user.name %></small>
                <hr>
            <% end %>
            <%= link_to "Leave a Review", newReview_path(@post), class: "btn btn-success" %>
          </div>
        </div>

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Accept the Gig
          </div>
          <div class="card-body">
            <p>$<%= @post.price %></p>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->